<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                This landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
                <br/>Hosted on <a href="https://pages.github.com">Github Pages</a>
            </div>
        </div>
    </div>
    <!-- Start of StatCounter -->
<script type="text/javascript">
var sc_project=10561039;
var sc_invisible=1;
var sc_security="722b308e";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->
</footer>
