<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              chris@alpental.us
            </div>
            <div class="col-md-4">
                <span style="font-size: x-small;">...Beyond the ragged rim of the normal, of the accepted. And so I went in search of the untamed. The estranged. The wild few tending the flame...</span>
            </div>
        </div>
    </div>
    <!-- Start of StatCounter -->
<script type="text/javascript">
var sc_project=10561039;
var sc_invisible=1;
var sc_security="722b308e";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code -->
</footer>
